alembic==1.2.1
click==6.7
coverage==4.5.4
Flask==1.0.2
Flask-SQLAlchemy==2.4.1
flask-swagger-ui==3.20.9
gunicorn==19.9.0
itsdangerous==0.24
Jinja2==2.10
Mako==1.1.0
MarkupSafe==1.0
nose2==0.9.1
numpy==1.22.0
numpydoc==0.8.0
path.py==11.0.1
pathlib2==2.3.2
pep8==1.7.1
pytest==3.5.1
PyYAML==3.12
requests==2.18.4
SQLAlchemy==1.2.7
Werkzeug==0.14.1
